:deep() { 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    .inplace {
        padding-top: 8px;
        padding-bottom: 8px;
        height: 42px;
        margin-bottom: 20px;

        .p-password-input {
            width: 200px;
        }

        .p-inplace-display {
            padding-bottom: 12px;
            padding-top: 8px;
            height: 40px;
            border: 1px solid #737DEC;
        }

        .p-inplace-display:not(.p-disabled):hover {
            background-color: #737dec15;
        }

        .p-inplace-content {
            position: relative;
            top: -9px;
            & > * {
                height: 41px;
            }
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }
}